# Application
NODE_ENV=development
PORT=3000
ALLOWED_ORIGINS=http://localhost:4200,http://localhost:3001

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=nerd_back_db

# JWT
JWT_ACCESS_SECRET=super_secret_access_key
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=super_secret_refresh_key
JWT_REFRESH_EXPIRATION=7d
JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----MIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEA1GjcZE8jfBeK4CGHKCad2VP5xGZb3wuL0nUr1pmIJz4Hqk75wwBUMXCha1XX4zXUfFaemvAt15qTmz5chjTrxQIDAQABAkALH5KrDhnlnbYAFsFlMOCDSQqDZnjZLVmdI9Wv30pqA5UW5pNaKBhv00SSn7fy5+KAqJ7c2MByknw3syKPcJkBAiEA+m4RN1uHPUxImG9DzlIMzzYbm9Dnnfp1RighASQp4jkCIQDZIk7ljpm3bFbZZym3BYlJ28dHmlLCVqlFh3O3Fp5l7QIhANS1AniDjIYbMhoPf4dSF8E0kxSwxtpfLpcNZKMkhVK5AiBReGv9+gl3JzFXFTwzreIbUlltZlwTCw0sR2yFj/kS6QIhAIhT5KzsqeykDBf3VtZTqgFeh6F8qdCx1CPMpYA7XRXu-----END RSA PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----MFwwDQYJKoZIhvcNAQEBBQADSwAwSAJBANRo3GRPI3wXiuAhhygmndlT+cRmW98Li9J1K9aZiCc+B6pO+cMAVDFwoWtV1+M11HxWnprwLdeak5s+XIY068UCAwEAAQ==-----END PUBLIC KEY-----"


# Logging
LOG_LEVEL=debug

# Recommended for most uses
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nerd_back_db

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://postgres:postgres@localhost:5432/nerd_back_db
